<!-- Tip: Es normal ver este mensaje en tu local, pero debe estar ignorado en el remoto ;) -->

<div class="margin-top-static alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-trash"></span>
  <strong>Oops!</strong> No esta ignorada la basura en el repo =(
</div>